@import 'footer.scss';
@import 'header.scss';
@import 'sidebar.scss';

.t-dark{
    color: #05386b;
}

.t-s-dark{
    color: #379683;
}

.t-light{
    color: #edf5e1;
}

.main-bg{
    background: #5cdb95;
}

a{
    text-decoration: none;
    font-family: Roboto;
}